<!DOCTYPE html>
<html>
<head>
  <style>
    .border {
      border-bottom: dashed;
    }
  </style>
  <title>Class9</title>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<header class="container">
  <p>여기는 헤더</p>
  <% unless current_user.nil? %>
      <h2> USER : <%= current_user.email %></h2>
  <% end %>
  <div class="container">
    <a class="btn btn-default" href="/" role="button">홈</a>
    <% if user_signed_in? %>
        <a class="btn btn-default" href="/users/sign_out" role="button">로그아웃</a>
    <% else %>
        <a class="btn btn-default" href="/users/sign_in" role="button">로그인</a>
    <% end %>
  </div>
</header>
<p class="border"></p>
<%= yield %>
<footer class="container border">
  <p>여기는 푸터
  </p>
</footer>
</body>
</html>
